.email{
    margin: 5% auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.email button i{
    padding-left: 50px;
}
@media(max-width:500px){
    .email{
        flex-direction: column;
    }
}